pre {
    background: white;
    padding: 8px;
    font-size: 24px;
}

h2 {
    font-size: 200%;
}

h1 + h2 {
    font-size: 100%;
}

p, ul {
    margin: .5em 0;
}

ul {
    padding-top: 0;
}

p + ul {
    margin-top: -.5em;
}

.progress {
    z-index: 1000;
}

.progress-bar {
    height: 5px;
}

.slide-content {
    height: 650px;
}

.slide.hidden {
    display: block;
    opacity: 0;
    transform: translateX(-100%);
}

.slide {
    opacity: 1;
    transition: opacity 1s ease;
}

body {
    background: #f7f7f7;
}

.name {
    margin-top: 100px;
    text-align: right;
}